.container img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px !important;
    width: 100%;
    max-width:100% !important;
   
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px 10px 10px;
    background-color: gray;
}
.centeredTop {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);

}
div.row {
   width:auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
   
}
img.tema {
width:100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
height:auto;
}

article div{
text-align:center;
vertical-align:middle;
}
article div h2 {
color:red;
}
article div h1,h2  {
font-size:50px;
}
article div h2, p, h1 {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}